<h1>About this site</h1>
<p>This site is built on nodejs and allows users to search for stock prices using IEX Cloud stock api.</p>
<h3>Some company ticker you can use:</h3>
<li>
  <ul>Apple: APPL</ul>
  <ul>Google: GOOG</ul>
  <ul>TSMC: TSM</ul>
  <ul>Intel: INTC</ul>
  <ul>Walmart: WMT</ul>
  <ul>Microsoft: MSFT</ul>
  <ul>Citigroup: C</ul>
</li>
